{*extend name="template:base" /*}
{*block name="title"*}bitms-登录{*/block*}
{*block name="other_css"*}
<link rel='stylesheet' href='__DIST__/css/login.css' type="text/css"/>
{*/block*}
{*block name="body"*}
<div>
    <!-- body -->
    <div class="login-content">
        <form class="layui-form login-form"
              lay-filter="form_login">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-gray"><i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;登录
                </div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <input type="text" id="name" name="name" lay-filter="name" required
                               lay-verify="required" value="{*$user.username*}"
                               placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" id="password" value="{*$user.password*}" name="password" required
                               lay-verify="required"
                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" id="code" name="code" required
                                   lay-verify="required|verifyCode"
                                   placeholder="请输入验证码" autocomplete="off" class="layui-input">
                        </div>
                        <img id="img_verify" class="img_verify" src="{*:url('user/verify')*}"
                             alt="验证码" title="看不清？点击换一张">
                    </div>
                    <div class="layui-form-item">
                        {*if $user.remember*}
                        <input type="checkbox" checked name="remember" title="记住我" lay-skin="primary">
                        {*else /*}
                        <input type="checkbox" name="remember" title="记住我" lay-skin="primary">
                        {*/if*}
                    </div>
                </div>
                <div class="layui-card-footer layui-bg-gray">
                    <button class="layui-btn layui-btn-normal btn-login" lay-submit lay-filter="btn_Login">
                        登录
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{*/block*}
{*block name="other_js"*}
<!-- other js -->
<script type="text/javascript">
    $(function () {
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element', 'form', 'layer'], function () {
            var element = layui.element;
            var form = layui.form;
            var layer = layui.layer;
            $("#img_verify").on('click', function () {
                var url = "{*:url('user/verify')*}";
                $(this).attr('src', url + '?time=' + new Date().getTime());
            });

            // form.val("form_login", {
            //     "name": "admin", // "name": "value"
            //     "password": "njbosa",
            // });

            form.verify({
                verifyCode: function (value, item) {
                    var msg;
                    $.ajax({
                        type: "POST",
                        url: "{*:url('/user/verify')*}",
                        async: false, // 使用同步的方法
                        data: {
                            code: value
                        },
                        dataType: 'json',
                        success: function (data, status) {
                            if (!data) {
                                msg = '验证码错误';
                                $("#img_verify").click();
                            }
                        }
                    });
                    return msg;
                }
            });

            form.on('submit(btn_Login)', function (data) {
                console.log(1);
                $.ajax({
                    type: 'POST',
                    url: "{*:url('/user/login')*}",
                    dataType: 'json',
                    data: data.field,
                    success: function (resp, status, jqXHR) {
                        if (jqXHR.status != 200) {
                            layer.msg('内部错误！', {icon: 5, anim: 6});
                            $("#img_verify").click();
                            return;
                        }
                        if (resp.data) {
                            document.location.href = "{*:url('index/index')*}";
                        } else {
                            layer.msg(resp.msg, {icon: 5, anim: 6});
                            $('#password').val('');
                            $('#code').val('');
                            $("#img_verify").click();
                        }
                    }
                });
                return false;
            })
        });
    });
</script>
{*/block*}